# Entorno virtual
finbalance_env/
venv/
ENV/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles/
.static_storage/
.media/

# Archivos de migración de Django (opcional, según necesidades del equipo)
# */migrations/*.py
# !*/migrations/__init__.py

# Archivos de configuración IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos del sistema
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
._*
Icon
.Spotlight-V100
.Trashes

# Archivos de configuración sensibles
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm
.node_repl_history

# Tailwind CSS
/static/css/dist/
/finbalance/static/css/dist/
/finbalance/theme/static/css/dist/
.postcssrc
.stylelintcache

# Archivos de cobertura y pruebas
coverage/
.coverage
htmlcov/
.hypothesis/
.pytest_cache/

# Archivos temporales y de caché adicionales
*.bak
*.tmp
*.temp
.cache/

venv/
finbalance_env/
*.pyc
__pycache__/