{% extends 'base.html' %}
{% load static %}

{% block title %}Registrate - FinBalance{% endblock %}

{% block content %}
<div class="flex flex-col justify-center items-center min-h-screen bg-[#EFF6FF]">
    <div class="flex justify-center mb-6">
        <img src="{% static 'img/img-logo.png' %}" alt="FinBalance Logo">
    </div>
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">

        <h2 class="text-xl font-semibold mb-6 text-left">Registrate</h2>

        {% if messages %}
        {% for message in messages %}
        <div
            class="p-3 mb-4 {% if message.tags == 'error' %}bg-red-100 text-red-700{% else %}bg-green-100 text-green-700{% endif %} rounded">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form method="post" class="space-y-4">
            {% csrf_token %}

            <div>
                <label for="{{ form.username.id_for_label }}" class="block text-gray-700 mb-2">Nombre de usuario</label>
                {{ form.username }}
                {% if form.username.errors %}
                <p class="text-red-600 text-sm mt-1">{{ form.username.errors.0 }}</p>
                {% endif %}
            </div>

            <div>
                <label for="{{ form.password1.id_for_label }}" class="block text-gray-700 mb-2">Contraseña</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                <p class="text-red-600 text-sm mt-1">{{ form.password1.errors.0 }}</p>
                {% endif %}
            </div>

            <div>
                <label for="{{ form.password2.id_for_label }}" class="block text-gray-700 mb-2">Confirmar
                    contraseña</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                <p class="text-red-600 text-sm mt-1">{{ form.password2.errors.0 }}</p>
                {% endif %}
            </div>

            <button type="submit" class="w-full py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-700 transition">
                Registrarme
            </button>
        </form>

        <div class="mt-6 text-center">
            <p>¿Ya tienes cuenta? <a href="{% url 'login' %}" class="text-blue-600 hover:underline">Ingresar</a></p>
        </div>
    </div>
</div>
{% endblock %}