{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}FinBalance{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-sans leading-normal tracking-normal">
		
		
		<main>
			{% block content %}{% endblock %}
		</main>
		
		<footer class="bg-gray-800 text-white mt-12 py-8">
			<div class="container mx-auto px-4">
				<p class="text-center">© 2025 FinBalance - Financial Portfolio Management</p>
			</div>
		</footer>
	</body>
</html>
